<form  action="gettinguserdata" method="post">
	<table>
    <tr>
			<td><label for="Name"> Please enter your name</label></td>
			<td><input type="text" name="Name" /></td>
    </tr>
	<tr>
	<td><label for="email"> Enter your Email</label></td>
 
    <td><input type="text" name="email" /></td>
		</tr>
		<tr><td> <label for="password">Enter your password</label></td><td><input type="text" name="password" /></td></tr>
		<tr><td><label for="phoneNumber">Enter your phoneNumber</label></td><td><input type="text" name="phoneNumber" /></td></tr>
		<tr><td><label for="address">Enter your Address</label></td><td><input type="text" name="address" /></td></tr>
		<tr><td><label for="dateOfBirth">Enter your DateOfBirth</label></td><td><input type="date" name="dateOfBirth" /></td></tr>
		<tr>
			<td><label for="gender">Enter your gender</label></td>
	<td><input type="radio" name="gender" value="Male" />Male<br />
	<input type="radio" name="gender" value="Female" />Female<br />
				<input type="radio" name="gender" value="Others" />Others<br/>
			</td>
		</tr>
	</table>
	<input type="submit" value="Submit" />

	
</form>